name: code-quality

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install --no-interaction
        poetry run pip3 install --pre 'black ==20.*'
        poetry run pip3 install 'isort ==5.*' 'mypy <0.800' 'flake8 == 3.8.*' 'lxml ==4.*' 'pytest'
    - name: Code quality
      run: |
        set +e
        poetry run black --check --diff androbot; BLACK_CODE=$?
        poetry run isort --check-only --diff androbot; ISORT_CODE=$?
        poetry run flake8 --output-file=flake8-report.txt --tee androbot; FLAKE8_CODE=$?
        poetry run mypy --html-report mypy-report androbot; MYPY_CODE=$?
        poetry run pytest androbot/tests.py; PYTEST_CODE=$?
        if [[ $BLACK_CODE -ne 0 || $ISORT_CODE -ne 0 || $FLAKE8_CODE -ne 0 || $MYPY_CODE -ne 0 || $PYTEST_CODE -ne 0 ]]; then
          echo "SOME CHECKS HAVE FAILED"
          exit 1
        fi
        set -e
